---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Recommendations from "@/components/Recommendations.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CybersecuritySection from "@/components/CybersecuritySection.astro";
import DataBISection from "@/components/DataBISection.astro";
import DevOpsProgramming from "@/components/DevOpsProgramming.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import Backpack from "@/components/icons/Backpack.astro";
---

<Layout
  title="Nehuen Escalada - ICT Specialist"
  description="Over 20 years of experience providing quality solutions to clients and businesses"
>
  <main class="px-4">
    <SectionContainer
      class="h-screen flex flex-col items-center justify-center"
    >
      <Hero />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer
        id="portfolio"
        class="h-full flex flex-col items-center"
      >
        <TitleSection>
          <Briefcase class="size-8" />
          Key growth areas
        </TitleSection>
        <CybersecuritySection />
        <DataBISection />
        <DevOpsProgramming />
      </SectionContainer>

      <SectionContainer id="about" class="h-full flex flex-col items-center">
        <TitleSection>
          <ProfileCheck class="size-8" />
          About me
        </TitleSection>
        <Recommendations />
        <AboutMe />
      </SectionContainer>

      <SectionContainer
        id="background"
        class="h-full flex flex-col items-center"
      >
        <TitleSection>
          <Backpack class="size-7" />
          More of my background
        </TitleSection>
        <Projects />
      </SectionContainer>
    </div>
  </main>
</Layout>
