---
const personalImageAlt = "Nehuen Escalada";
import SocialPill from "@/components/SocialPill.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import TelegramIcon from "@/components/icons/Telegram.astro";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300"
>
  <a href="https://www.linkedin.com/in/nescalada/" target="_blank">
    <img
      width="200"
      height="200"
      src="/me.webp"
      alt={personalImageAlt}
      class="mb-10 object-cover w-64 h-auto aspect-square p-1 -rotate-2 lg:p-2 lg:w-64 rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    /></a
  >

  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      🌱 I like to find details that make my tasks exciting and I try to improve
      myself every day. I know I'm no better than anyone and I'm just a grain of
      sand in this vast universe. I enjoy learning, sharing knowledge and
      work-life balance.
    </p>
    <p>
      <strong
        >⭐ I’m proactive by nature, a problem solver and a detailed oriented
        player with a strong focus on archiving objectives. I have experience
        leading teams and working independently, with effective delegation
        skills.
      </strong>
    </p>
    <p>
      <strong>🚂 I have more than 9 years of ICT work experience</strong> gained
      on positions as
      <strong
        >Engineer Support Specialist, IT Analyst and Network Technician</strong
      > on my previous jobs.
    </p>
    <p>
      <strong
        >📚 I coursework an entire five years Engineering Systems Bachelor
        degree</strong
      >
      with a current GPA of 8.36 over 10 and
      <strong
        >I’m certified as Personal and Professional Computer Technician</strong
      >
      by a six years professional study coursework with a GPA of 9.28 over 10. Also
      <strong>I have</strong> some
      <strong>
        international certificates as ISO 45001, PowerBI (ETL/Analysis), VMWare
      </strong> and more as
      <strong>Ethical Hacker and Linux Certified Security Systems</strong>, PHP,
      Web design, LEAN, 5S, AMS, BOS, Ethics, Diversity & Inclusion, Data
      Privacy and others.
    </p>
    <p>
      🚀 Just to mention some drive and a track record of going above-and-beyond
      expectations; in the past seven years while working at Adient Automotive
      (an international Johnson Control’s seats company with +70.000
      collaborators worldwide) my IT team and I were <strong
        >recognized with a bonus by improve significantly our SecOps KPIs
        archiving the status of the second safest plant among more than 200
        Adient facilities around the globe,
      </strong>starting from the last positions and archiving a 93.55% of total
      improvement in a year under my lead for this initiative, by doing
      strategic analysis, threat modelling, risk management, automation, taking
      care about the security architecture and <strong
        >following good practices, frameworks and standards as NIST CSF, ITIL,
        ISO 27001 among others
      </strong>(same time I contributed with our worldwide SOC team to improve
      the scores in all other facilities). <strong
        >I achieved a “positive impact recognition” certificate</strong
      > by reducing manual tasks by 47% in two months through scripting and automation
      (regarding internal audits). I got <strong
        >a “customer satisfaction recognition” for commitment and quality
        actions in problem solving</strong
      > by temporarily acting as IT Manager in charge of the entire local IT area
      during COVID-19. And also, in my previous job at the Provincial State Pension
      Fund also I got <strong
        >a “recommendation letter” for efficiency, effectiveness and
        responsibility.
      </strong>
    </p>
  </div>

  <nav class="flex flex-wrap gap-4 justify-center">
    <SocialPill href="mailto:nehuenescalada@gmail.com">
      <MailIcon class="size-4" />
      Email
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/nescalada">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://t.me/nescalada">
      <TelegramIcon class="size-4" />
      Telegram
    </SocialPill>
  </nav>
</article>
